<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="MySQL JDBC Driver">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">admin</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost/almacenDavid</property>
  <property name="hibernate.connection.username">David</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.c3p0.acquire_increment">1</property>
  <property name="hibernate.c3p0.idle_test_period">100</property>
  <property name="hibernate.c3p0.max_size">5</property>
  <property name="hibernate.c3p0.max_statements">10</property>
  <property name="hibernate.c3p0.min_size">3</property>
  <property name="hibernate.c3p0.timeout">200</property>
  <mapping class="classes.Vehicle" resource="Vehicle.hbm.xml"/>
  <mapping class="classes.Person" resource="Person.hbm.xml"/>
  <mapping class="classes.Address" resource="Address.hbm.xml"/>
  <mapping class="classes.TypePerson" resource="TypePerson.hbm.xml"/>
  <mapping class="classes.Company" resource="Company.hbm.xml"/>
  <mapping class="classes.Load" resource="Load.hbm.xml"/>
  <mapping class="classes.Manufacturer" resource="Manufacturer.hbm.xml"/>
  <mapping class="classes.Measure" resource="Measure.hbm.xml"/>
  <mapping class="classes.Order" resource="Order.hbm.xml"/>
  <mapping class="classes.Product" resource="Product.hbm.xml"/>
  <mapping class="classes.Shelf" resource="Shelf.hbm.xml"/>
  <mapping class="classes.Situation" resource="Situation.hbm.xml"/>
  <mapping class="classes.Unload" resource="Unload.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
